.view-dmx-project-task .views-field-status { width: 1%; }
.view-dmx-project-task .task-status-complete .views-field-name a { text-decoration: line-through; color: #999; }
.view-dmx-project-task .task-status-complete .views-field-due span { display: none; }
