/* People */
.view-dmx-project-user .view-content { display: flex; }
.view-dmx-project-user .views-row { display: inline-flex; padding: 0 12px 12px 0; }
.image-style-dmx-team { border-radius: 50%; }

/* Activity */
.dmx-team-activity li {
    border-top: 1px solid #ddd;
    margin-top: 0.7rem;
    padding-top: 0.7rem;
}
.dmx-team-activity .timeago { color: #bbb; }
